<div class="main">
  <div class="container">
    <div class="form-heading">目標を設定しましょう</div>
    <div class="">

        <%= form_tag("/goals/#{@current_user.id}/create_goal") do %>
        <p>なたの今の目標は何ですか？</p>
          <input name="goal" value="<%= @user.goal %>">
        <p>目的は？</p>
          <input name="purpose" value="<%= @user.purpose %>">
        <p>いつまでに達成する？</p>
          <input name="date" value="<%= @user.date%>">
        <input type="submit" value="新規設定">
        <% end %>
      </div>
    </div>
  </div>
</div>
