<div class="main top-main">
  <div class="top-message">
    <!-- <h2>目的を定め、目標を掲げ<br>今やるべきことに全力を</h2> -->
    <h2>計画のない目標は、ただの願い事にすぎない。</h2>
    <h3>A goal without a plan is just a wish.</h3>
    <h2>未来とは、あなたが予知しようとするものではなく、自分で可能にするものだ。</h2>
    <h3>As for the future, your task is not to foresee it, but to enable it.</h3>
    <div class="Saint-Exupéry">
    	サン＝テグジュペリ（1900年～1944年）
    </div>
    <p>さぁ今日も積み上げましょう</p>
  </div>
</div>