<div class="main posts-index">

  <%= render 'layouts/menu' %>

 <div class="container">
    <h1 class="users-heading">全投稿一覧</h1>
    <% @posts.each do |post|%>
    <div class="posts-index-item">
      <div class="post-left">
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
      </div>
      <div class="post-right">
        <div class="post-user-name">
           <%= link_to post.user.name, user_path(post.user_id)%>
        </div>
        <%= link_to post.content,post_path(post) %>
      </div>
     </div>
    <% end %>
  </div>
</div>
