<div class="main posts-new">
  <%= render 'layouts/menu' %>
  <div class="container">
    <h1 class="form-heading">今日の積み上げを投稿</h1>
    <%= form_tag("/posts/#{@current_user.id}/create")do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
             <%= message %>
            </div>
          <% end %>
          <textarea name="content"><%= @post.content %></textarea>

          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>
