.task-wrapper{
	display: flex;
}

.tasks-index,.done-tasks-index{
  width: 50%;
}

.tasks-title{
  // background-color: #e2ffe1;
  background-image: url(/grain8.jpg);
  background-size: cover;
  text-align: center;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 3px;
  p{
    color: white;
    box-shadow: 10px 2px 5px #C1CED8;
  }
}

.task-box ,.done-task-box{
  padding: 10px 10px;
  background-image: url(/grain6.jpeg);
  background-size: cover;
  box-shadow: 10px 2px 5px #C1CED8;
  border-radius: 3px;
  border: solid 0.5px #b7b7b7;
}

.task-content {
  width: 100%;
  text-align: left;
  a{
    word-break: break-all;
  }
}

.task-foot{
  display: flex;
  justify-content: flex-end;
  a{
    color: gray;
    padding-right: 6px;
  }
}